/* A Modern CSS Reset https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* the real dark souls starts here */

:root {
  --p-sm: 1rem;

  --f-h1: 5rem;
  --f-h2: 3.5rem;
  --f-h3: 2rem;
  --f-h4: 1.5rem;

  --light-blue: #c1e4dd50;
  --dark-blue: #9bbdb63b;
  --yellow: wheat;
  --light-yellow: #f8f5f0;
  --accent-yellow: #c1aa88;
  --dark-gray: #1e1e1e;
  --light-gray: #1e1e1ecd;
}

::selection {
  color: var(--light-yellow);
  background: var(--dark-gray);
}

body {
  position: relative;
  display: grid;
  grid-template-columns: 1fr clamp(350px, 70ch, 100%) 1fr;
  font-size: 22px;
  font-family: "EB Garamond", Georgia, 'Times New Roman', Times, serif;
  background-color:var(--light-yellow);
  color: var(--dark-gray);
}

.cover {
  position: relative;
  grid-column: 1 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;

  & img {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  & .cover-text {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    color: var(--yellow);
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 10dvh;
    align-items: center;
    flex-direction: column;
    text-shadow: 0 1px 8px #00000040;

    & h1 {
      font-size: clamp(var(--f-h2), var(--f-h1), calc(1vh + 3vw));
      text-align: center;

      & span {
      font-size: clamp(var(--f-h1), 8rem, calc(2vh + 5vw));
      display: block;
      margin-bottom: -0.5rem;
      }
    }

    & div {
      padding-bottom: 10dvh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: clamp(1.5rem, 2rem, calc(1vh + 2vw));
      
      & .author {
      text-align: center;
      }

      & .copy {
        margin-top: 0.5rem;
      }
    }

  }
}

main {
  grid-column: 2 / 3 ;
  max-width: 67ch;
  margin-inline: auto;
  padding-inline: var(--p-sm);
}

.toc-container {
  grid-column:  1 / 4;
  position: sticky;
  bottom: 0;
  padding-inline: var(--p-sm);
  transform: translateY(100%);
  font-size: 1.125rem;
}

.toc-handle {
  display: block;
  text-align: center;
  border: none;
  background-color: var(--light-blue);
  width: 100%;
  cursor: pointer;
}

.toc-index {
  display: none;
  margin-bottom: 1rem;
  color: #6e6e6e;
}

#toc {
  max-width: 35ch;
  min-width: 20ch;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  
  .h3,
  .h4 {
    margin-left: 2rem;
  }

  a {
    display: inline-block;
    text-decoration-line: none;
    text-decoration-color: transparent;
    text-decoration-thickness: 2px;
    color: var(--light-gray);
    cursor: pointer;
    padding-block: .25rem;
    border-radius: .25rem;
    transition: text-decoration-color .3s ease, color .3s ease;
    &:hover {
      text-decoration-line: underline;
      text-decoration-color: var(--accent-yellow);
      text-decoration-thickness: 3px;
      color: var(--dark-gray);

    }
  }
}

section {
  margin-block: 12rem;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -5rem;
    width: 20%;
    height: 1px;
    background-color: #c1aa886b;
    margin-inline: auto;
    left: 40%;
    box-shadow: 0 2px 3px #00000017;
  }
}


h2,
section > span {
  font-size: clamp(var(--f-h3), var(--f-h2), 10vw);
  font-weight: bold;
  line-height: 1.2;
  margin-top: 1rem;
  padding-top: 3rem;  
}

h3 {
  font-size: clamp(var(--f-h4), var(--f-h3), 8vw);
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: var(--f-h4);
  margin-top: 2rem;
}

* + ol,
*  + ul,
*  + strong,
* + p {
  margin-top: 1.5rem;
}

p {
  text-indent: 2rem;
}

strong {
  display: block;
}

.insert {
  padding: 1.5rem;
  background-color: white;
  border: 1px solid #00000017;
  margin-block: 2rem;
  border-radius: 4px;
  background: radial-gradient(white,#fffdf9);
  box-shadow: 2px 4px 10px #00000017;

  & h4:first-of-type {
    margin-top: 0;
  }
}

.col-2 {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  
  &p {
    max-width:50%;
  }
}

.text-right{
  text-align: right;
}

.text-center {
  text-align: center;
}

.no-tab {
  text-indent: 0;
}

.quote {
  padding: 2rem;
  margin-block: 2rem;
  position: relative;
  font-style:oblique;
  text-align: justify;

  &::before,
  &::after {
    position: absolute;
    font-size: 7rem;
    z-index: -1;
    line-height: 1;
    color: var(--accent-yellow);
  }

  &::before {
    content: '“';
    top: -18px;
    left: -14px;
  }

  &::after {
    content: '”';
    bottom: -60px;
    right: 18px;
  }
}

@media only screen and (min-width: 922px) {
  body{
    gap: 1rem;
  }
  main {
    padding-inline: unset;
  }
  .toc-container {
    grid-column: 3 / 4;
    bottom: unset;
    padding-top: 11rem;
    padding-inline: unset;
    top:0;
    transform: unset;
  }
  .toc-handle {
    display: none;
  }
  .toc {
    position: sticky;
    top:0;
    padding-top: 2rem;
  }
  .toc-index {
    display: block;
  }
  .insert,
  .quote {
    padding: 2.5rem;
  }
}